@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-logo: 'Leckerli One', sans-serif;
    --font-family-header: 'Baloo 2', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;

    --text-logo: 400 2.5rem var(--font-family-logo);
    --text-head-md: 700 1.75rem var(--font-family-header);
    --text-head-sm: 700 1.125rem var(--font-family-header);
    --text-body-md: 1rem var(--font-family-body);
    --text-body-sm: 0.875rem var(--font-family-body);
    --text-body-xs: 0.75rem var(--font-family-body);

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --accent-purple: #B259FF;
    --accent-fuschia: #FF59F9;
    --accent-pink: #FF598B;
    --accent-orange: #FF8B59;
    --accent-yellow: #FFCD59;
    --accent-lime: #E1FF59;
    --accent-green: #59FF91;
    --accent-cyan: #59FFF9;
    --accent-navy: #6A59FF;

    --feedback-danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}