#proj {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--shape-background);
    gap: 1.25rem;
    overflow: hidden;
    height: 100vh;
}

aside {
    margin-left: auto;
    background-image: url(../assets/Background.jpg), linear-gradient(180deg, rgba(33, 37, 38, 0.8) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.3) 40.5%, rgba(33, 37, 38, 0.1) 100%);;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .75rem;
    margin-block: 1.25rem;
    width: 25rem;
    height: 41.5rem;

header {
    margin: 2rem;

    & .title-header {
        font-weight: 200;
    }

img {
    height: 3rem;
    margin-bottom: 1rem;
}

h1 {
    font: 400 2.5rem var(--font-family-logo);
    color: var(--accent-pink);
    margin-bottom: .25rem;
}

span {
    color: var(--text-heading);
    font: var(--text-body-md);
}

}

}

main {
    height: 42rem;
    overflow: auto;
    scrollbar-width: none;
    background-color: var(--shape-body);
    margin-block: 1.25rem;
    border-radius: .75rem;
    width: 95%;



h1 {
    color: var(--text-heading);
    font: var(--text-head-md);
    margin-inline: 8.125rem;
    padding-block: 5rem 2.5rem;
}
}