#app {
    display: grid;
    grid-template-columns: 34.37% 65.63%;
    
    height: 100vh;
    gap: 1.25rem;
    overflow: hidden;
}

aside {
    background-image: url(../assets/Background.jpg), linear-gradient(180deg, rgba(33, 37, 38, 0.8) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.3) 40.5%, rgba(33, 37, 38, 0.1) 100%);
    background-repeat: no-repeat;

    margin-block: 1.25rem;
    margin-left: auto;
    border-radius: 0.75rem;
    
    & .aside-container {

        width: 25rem;
        height: 41.5rem;

        padding: 2rem;
    }
    
    h1 {
        color: var(--accent-pink);
        font: var(--text-logo);
        padding-top: 1rem;
    }

    p {
        font: var(--text-body-md);
        font-weight: 200;
        padding-top: .25rem;
    }

    img {
        width: 45.85px;
        height: 48px;

    }
}

main {
    overflow: auto;
    max-width: 51.25rem;

    margin-block: 1.25rem;
    
    & .main-container {
        background-color: var(--shape-body);
        padding: 5rem 8.125rem;
        border-radius: 0.75rem;        
        margin-right: auto;
    }
}